<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="content.component.css">
</head>
<body>
    <section class="content">
  <h2>Welcome to the Future of Space Exploration</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, asperiores quisquam nihil, 
    non ducimus fugiat reiciendis obcaecati fuga sapiente vel eius ad unde id excepturi! Aliquid 
    ipsum voluptatem dolorum! Sint.
  </p>
  <button class="explore-btn">Explore Now</button>
</section>

</body>
</html>